<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>리뷰 작성</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
</head>
<body>
<section layout:fragment="content">
  <div class="review-container review-make">
    <h2 class="review-container__title">리뷰 작성</h2>
    <form th:action="@{/reviews/create}" th:object="${reviewCreateRequest}" method="post" enctype="multipart/form-data" class="review-form">
      <input type="hidden" th:field="*{isbn}" />

      <div th:replace="~{review/fragments/form_fields :: reviewForm}"></div>

      <div class="form-actions">
        <a th:href="@{|/book/detail/${isbn}|}" class="btn btn--secondary btn--block">목록으로</a>
        <button type="submit" class="btn btn--primary btn--block">리뷰 등록</button>
      </div>
    </form>
  </div>

  <script th:src="@{/js/review-form.js}"></script>
</section>
</body>
</html>