<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비회원 주문 조회 상세</title>
</head>

<body>
<div class="login-container">
    <h2>주문 조회 상세</h2>

    <span th:text="${orderDetail.getOrderNumber()}"></span>
    <span th:text="${orderDetail.getOrderCreatedAt()}"></span>

    <h2>배송 정보</h2>

    <span th:text="${orderDetail.getRecipientName()}"></span>
    <span th:text="${orderDetail.getRecipientPhoneNumber()}"></span>
    <span th:text="${orderDetail.getRecipientAddress()}"></span>

    <h2>결제 정보</h2>

    <span th:text="${orderDetail.getFinalPrice()}"></span>
    <span th:text="${orderDetail.getPaymentMethod()}"></span>


</div>
</body>
</html>