<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <title>비회원 주문 조회 상세</title>
</head>

<body>
<div class="login-container">
    <h2>주문 조회 상세</h2>

    <div><strong>주문 번호:</strong> <span th:text="${orderDetail.getOrderNumber()}"></span></div>
    <div><strong>주문 날짜:</strong> <span th:text="${orderDetail.getOrderCreatedAt()}"></span></div>
    <div><strong>주문 상태:</strong> <span th:text="${orderDetail.getPaymentMethod()}"></span></div>

    <h2>상품</h2>


    <h2>배송 정보</h2>

    <div><strong>수령인:</strong> <span th:text="${orderDetail.getRecipientName()}"></span></div>
    <div><strong>연락처:</strong> <span th:text="${orderDetail.getRecipientPhoneNumber()}"></span></div>
    <div><strong>이메일:</strong> <span th:text="${orderDetail.getRecipientEmail()}"></span></div>
    <div><strong>주소:</strong> <span th:text="${orderDetail.getRecipientAddress()}"></span></div>

    <h2>결제 정보</h2>

    <div><strong>주문 금액:</strong> <span th:text="${orderDetail.getTotalPrice()}"></span></div>
    <div><strong>할인 금액:</strong> <span th:text="${orderDetail.getTotalDiscountAmount()}"></span></div>
    <div><strong>결제 금액:</strong> <span th:text="${orderDetail.getFinalPrice()}"></span></div>


</div>
</body>
</html>