<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>주문 창</title>
        <!-- 토스페이먼츠 결제창 SDK 추가 -->
        <script src="https://js.tosspayments.com/v2/standard"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body>
    <!-- 결제하기 버튼 -->
        <form id="payment-form" method="post" action="/order">
            <div><strong>주문자 정보</strong></div>
            <input type="text" name="ordererName" placeholder="이름" required/><br>
            <input name="ordererPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="ordererEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px"><strong>수령인 정보</strong></div>
            <input type="text" name="recipientName" placeholder="이름" required/><br>
            <input name="recipientPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="recipientEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px"><strong>배송지</strong></div>
            <input type="text" name="recipientAddress" id="UserAdd1" placeholder="주소" readonly required>
            <input type="button" id="zipp_btn" onclick="execDaumPostcode()" value="주소 찾기"><br>
            <br>

            <div style="margin-top: 20px"><strong>배송 희망 날짜</strong></div>
            <input type="datetime-local" name="expectedDeliveryDate" required/><br>

            <br><hr/><br>

            <!-- 상품 목록 -->
            <div><strong>주문상품</strong></div>

            <br><hr/><br>

            <!-- 쿠폰, 포인트 -->
            <input th:value="${userId}" name="userId" readonly type="hidden"/>
            <div th:if="${userId}">
                <div><strong>쿠폰, 포인트</strong></div>
                <a>사용 가능 포인트: 1000원</a><br>
                <input type="number" name="usedPoint" placeholder="사용 포인트" value="0" required/><br>

                <br><hr/><br>
            </div>

            <div><strong>결제 상세</strong></div><br>
            <div>
                <div>상품 금액: 10000원</div>
                <div>할인: 1000원</div>
                <div>총 결제금액: 9000원</div>
            </div>

            <button class="button" type="submit" style="margin-top: 20px">주문하기</button>
        </form>

        <script type="text/javascript">
            // chrome에서는 정상적으로 주소창 화면이 나오는데 safari에서는 안 나온다. 이유를 모르겠다
            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업을 통한 검색 결과 항목 클릭 시 실행
                        let addr = ''; // 주소_결과값이 없을 경우 공백
                        let extraAddr = ''; // 참고항목

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                            addr = data.roadAddress;
                        } else { // 지번 주소를 선택
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        } else {
                            document.getElementById("UserAdd1").value = '';
                        }

                        // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                        document.getElementById("UserAdd1").value = addr;
                        document.getElementById("UserAdd1").value += extraAddr;
                    }
                }).open();
            }
        </script>
    </body>
</html>