<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>결제 창</title>
        <!-- 토스페이먼츠 결제창 SDK 추가 -->
        <script src="https://js.tosspayments.com/v2/standard"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body>
    <!-- 결제하기 버튼 -->
        <form id="payment-form">
            <div>주문자 정보</div>
            <input type="text" name="ordererName" placeholder="이름" required/><br>
            <input name="ordererPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="ordererEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px">수령인 정보</div>
            <input type="text" name="recipientName" placeholder="이름" required/><br>
            <input name="recipientPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="recipientEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px">배송지</div>
            <input type="text" name="recipientAddress" id="UserAdd1" placeholder="주소" readonly required>
            <input type="button" id="zipp_btn" onclick="execDaumPostcode()" value="주소 찾기"><br>
            <input type="text" name="recipientAddress2" id="UserAdd2" placeholder="상세주소"><br>

            <div style="margin-top: 20px">배송 희망 날짜</div>
            <input type="datetime-local" name="expectedDeliveryDate" required/>

            <hr/>

            <div>
                <div>상품 금액: 10000원</div>
                <div>할인: -1000원</div>
                <br/>
                <div>총 결제금액: 9000원</div>
            </div>

            <button class="button" type="submit" style="margin-top: 20px">결제하기</button>
        </form>

        <script type="text/javascript">
            // chrome에서는 정상적으로 주소창 화면이 나오는데 safari에서는 안 나온다. 이유를 모르겠다
            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업을 통한 검색 결과 항목 클릭 시 실행
                        let addr = ''; // 주소_결과값이 없을 경우 공백
                        let extraAddr = ''; // 참고항목

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                            addr = data.roadAddress;
                        } else { // 지번 주소를 선택
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        } else {
                            document.getElementById("UserAdd1").value = '';
                        }

                        // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                        document.getElementById("UserAdd1").value = addr;
                        document.getElementById("UserAdd1").value += extraAddr;
                        document.getElementById("UserAdd2").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
                    }
                }).open();
            }

            // 토스 결제 api
            const form = document.getElementById('payment-form');
            const clientKey = "test_ck_yZqmkKeP8gWj1B0QjXRB8bQRxB9l";
            const tossPayments = TossPayments(clientKey);
            const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})

            form.addEventListener('submit', (e) => {
                e.preventDefault();

                // input에 입력된 데이터들을 가져옴
                const data = new FormData(form);
                const formattedTime = formatTime(data.get('expectedDeliveryDate'));

                const body = {
                    ordererName: data.get('ordererName'),
                    ordererPhoneNumber: data.get('ordererPhoneNumber'),
                    ordererEmail: data.get('ordererEmail'),
                    recipientName: data.get('recipientName'),
                    recipientPhoneNumber: data.get('recipientPhoneNumber'),
                    recipientEmail: data.get('recipientEmail'),
                    recipientAddress: data.get('recipientAddress'),
                    expectedDeliveryDate: formattedTime
                }
                // TODO: 주문 저장하는 코드

                payment.requestPayment({
                    method: "CARD",
                    amount: {
                        currency: "KRW",
                        value: 9000,
                    },
                    orderId: "RhzuzaEPdA9ADe5",
                    orderName: "책",
                    successUrl: window.location.origin + "/payment/success",
                    failUrl: window.location.origin + "/payment/fail",
                    customerName: "",
                    card: {
                        useEscrow: false,
                        flowMode: "DEFAULT",
                        useCardPoint: false,
                        useAppCardOnly: false,
                    },
                });
            })

            // yyyyMMddHHmmss 포맷 함수
            function formatTime(datetimeLocalValue){
                const dt = new Date(datetimeLocalValue);
                const pad2 = num => String(num).padStart(2, '0');

                const year   = dt.getFullYear();
                const month  = pad2(dt.getMonth() + 1);
                const day    = pad2(dt.getDate());
                const hour   = pad2(dt.getHours());
                const minute = pad2(dt.getMinutes());
                const second = pad2(dt.getSeconds());  // 만약 seconds가 포함되지 않은 input이라면 항상 "00"이 됩니다.

                return `${year}${month}${day}${hour}${minute}${second}`;
            }
        </script>
    </body>
</html>