<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>결제 창</title>
        <!-- 토스페이먼츠 결제창 SDK 추가 -->
        <script src="https://js.tosspayments.com/v2/standard"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body>
    <!-- 결제하기 버튼 -->
        <form id="payment-form">
            <div><strong>주문자 정보</strong></div>
            <input type="text" name="ordererName" placeholder="이름" required/><br>
            <input name="ordererPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="ordererEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px"><strong>수령인 정보</strong></div>
            <input type="text" name="recipientName" placeholder="이름" required/><br>
            <input name="recipientPhoneNumber" placeholder="예) 010-1234-5678" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required/><br>
            <input type="email" name="recipientEmail" placeholder="이메일" required/><br>

            <div style="margin-top: 20px"><strong>배송지</strong></div>
            <input type="text" name="recipientAddress" id="UserAdd1" placeholder="주소" readonly required>
            <input type="button" id="zipp_btn" onclick="execDaumPostcode()" value="주소 찾기"><br>
            <br>

            <div style="margin-top: 20px"><strong>배송 희망 날짜</strong></div>
            <input type="datetime-local" name="expectedDeliveryDate" required/><br>

            <br><hr/><br>

            <!-- 상품 목록 -->
            <div><strong>주문상품</strong></div>

            <br><hr/><br>

            <!-- 쿠폰, 포인트 -->
            <input th:value="${userId}" name="userId" readonly/>
            <div th:if="${userId}">
                <div><strong>쿠폰, 포인트</strong></div>
                <a>사용 가능 포인트: 1000원</a><br>
                <input type="number" name="usedPoint" placeholder="사용 포인트" value="0" required/><br>

                <br><hr/><br>
            </div>

            <div><strong>결제 상세</strong></div><br>
            <div>
                <div>상품 금액: 10000원</div>
                <div>할인: 1000원</div>
                <div>총 결제금액: 9000원</div>
            </div>

            <button class="button" type="submit" style="margin-top: 20px">결제하기</button>
        </form>

        <script type="text/javascript">
            // chrome에서는 정상적으로 주소창 화면이 나오는데 safari에서는 안 나온다. 이유를 모르겠다
            function execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업을 통한 검색 결과 항목 클릭 시 실행
                        let addr = ''; // 주소_결과값이 없을 경우 공백
                        let extraAddr = ''; // 참고항목

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                            addr = data.roadAddress;
                        } else { // 지번 주소를 선택
                            addr = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                        } else {
                            document.getElementById("UserAdd1").value = '';
                        }

                        // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                        document.getElementById("UserAdd1").value = addr;
                        document.getElementById("UserAdd1").value += extraAddr;
                    }
                }).open();
            }

            // 토스 결제 api
            const form = document.getElementById('payment-form');
            const clientKey = "test_ck_yZqmkKeP8gWj1B0QjXRB8bQRxB9l";
            const tossPayments = TossPayments(clientKey);
            const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                // input에 입력된 데이터들을 가져옴
                const data = new FormData(form);
                const formattedTime = formatTime(data.get('expectedDeliveryDate'));

                const body = {
                    ordererName: data.get('ordererName'),
                    ordererPhoneNumber: data.get('ordererPhoneNumber'),
                    ordererEmail: data.get('ordererEmail'),
                    recipientName: data.get('recipientName'),
                    recipientPhoneNumber: data.get('recipientPhoneNumber'),
                    recipientEmail: data.get('recipientEmail'),
                    recipientAddress: data.get('recipientAddress'),
                    expectedDeliveryDate: formattedTime,
                    usedPoint: data.get('usedPoint'),
                    orderCouponId: null,
                }

                // 주문 저장
                // TODO: 제대로 되는지 확인 필요
                const userId = data.get('userId')

                let res;
                const headers = {
                    'content-type': 'application/json',
                };

                if(userId){
                    headers['X-User-Id'] = userId;
                }

                try {
                    res = await fetch('/api/orders', {
                        method: 'POST',
                        headers: headers,
                        body: JSON.stringify(body)
                    });
                } catch (err) {
                    return alert('서버 통신에 실패했습니다.');
                }

                if (!res.ok) {
                    const err = await res.json();
                    return alert(`주문 생성 실패: ${err.error || res.statusText}`);
                }
                const { orderNumber, finalPrice } = await res.json();


                // 토스 결제
                payment.requestPayment({
                    method: "CARD",
                    amount: {
                        currency: "KRW",
                        value: finalPrice,
                    },
                    orderId: orderNumber,
                    orderName: "책",
                    successUrl: window.location.origin + "/payment/success",
                    failUrl: window.location.origin + "/payment/fail",
                    customerName: "",
                    card: {
                        useEscrow: false,
                        flowMode: "DEFAULT",
                        useCardPoint: false,
                        useAppCardOnly: false,
                    },
                });
            })

            // yyyyMMddHHmmss 포맷 함수
            function formatTime(datetimeLocalValue){
                const dt = new Date(datetimeLocalValue);
                const pad2 = num => String(num).padStart(2, '0');

                const year   = dt.getFullYear();
                const month  = pad2(dt.getMonth() + 1);
                const day    = pad2(dt.getDate());
                const hour   = pad2(dt.getHours());
                const minute = pad2(dt.getMinutes());
                const second = pad2(dt.getSeconds());  // 만약 seconds가 포함되지 않은 input이라면 항상 "00"이 됩니다.

                return `${year}${month}${day}${hour}${minute}${second}`;
            }
        </script>
    </body>
</html>