<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<head>
    <meta charset="utf-8" />
    <title>결제 창</title>
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
<!-- 결제하기 버튼 -->
    <span th:text="${orderNumber}"></span>
    <br>
    <div>총 결제 금액: <span th:text="${amount}"></span></div>
    <br>

    <form method="post" action="/payment">
        <input type="hidden" id="orderNumber" name="orderNumber" th:value="${orderNumber}">
        <input type="hidden" id="amount" name="amount" th:value="${amount}">

        <button class="btn primary w-100" type="submit">일반 결제하기</button>
    </form>

    <button class="btn primary w-100" onclick="tossPayment()">토스 결제하기</button>

    <script type="text/javascript">
        const num = document.getElementById('orderNumber').value;
        const price = document.getElementById('amount').value;

        function tossPayment() {
            const clientKey = "test_ck_yZqmkKeP8gWj1B0QjXRB8bQRxB9l";
            const tossPayments = TossPayments(clientKey);
            const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})

            // 토스 결제
            payment.requestPayment({
                method: "CARD",
                amount: {
                    currency: "KRW",
                    value: Number(price),
                },
                orderId: num,
                orderName: "책",
                successUrl: window.location.origin + "/payment/toss/success",
                failUrl: window.location.origin + "/payment/fail",
                customerName: "",
                card: {
                    useEscrow: false,
                    flowMode: "DEFAULT",
                    useCardPoint: false,
                    useAppCardOnly: false,
                },
            });
        }
    </script>
</body>
</html>